:root {
--spotify-vencord-color: 27deg 43% 90%;
--spotify-vencord-text: 27deg 94% 29%;
}

#vc-spotify-player {
  padding: 0.85rem 0.5rem !important;
  margin: 7px;
  margin-top: 8px !important;
  border-radius: 7px;
  background-color: var(--background-primary) !important;
}
