:root {
  /* Change colors here (in HSL) */
  --spotify-vencord-color: 228deg 7% 15%;
  --spotify-vencord-dark: 228deg 7% 15%; /* choose darker tone (lower 3rd value) */
  --spotify-vencord-text: 214deg 74% 53%;
  
  /* Spotify Vencord color theme */
  --spotify-vencord-wave-width: 240px;
}

@keyframes spotifywave {
  0% {
    -webkit-mask-position-x: var(--spotify-vencord-wave-width);
  }
  100% {
    -webkit-mask-position-x: 0;
  }
  
#vc-spotify-player::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: var(--spotify-vencord-wave-width);
  margin-top: -28px;
  left: 0;
  background: hsla(var(--spotify-vencord-dark)/1);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="240" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: spotifywave 4s linear infinite;
  animation-play-state: paused;
  animation-delay: 0s;  
  opacity: 1;
}
#vc-spotify-player#vc-spotify-player {
  background: hsla(var(--spotify-vencord-dark)/1);
  border-bottom: none;
} 
#vc-spotify-player #vc-spotify-progress-bar > [class^=slider] [class^=grabber][class^=grabber] {
  background-color: hsla(var(--spotify-vencord-dark)/1);
  border-color: hsla(var(--spotify-vencord-text)/1) !important;
  color: var(--interactive-normal);
  border-width: 2px;
  height: 8px !important;
  width: 8px !important;
}
#vc-spotify-player + [class*=container-] rect[fill="#f23f43"],
#vc-spotify-player + [class*=container-] foreignObject[mask="url(#svg-mask-status-dnd)"] > div {
  fill: hsla(var(--spotify-vencord-text)/1) !important;
  background-color: hsla(var(--spotify-vencord-text)/1)!important;
}
#vc-spotify-player + [class*=container-] rect[fill="rgba(242, 63, 67, 1)"] {
  fill: hsla(var(--spotify-vencord-text)/1) !important;
}
#vc-spotify-player + [class*=container-] rect[fill="#23a55a"],
#vc-spotify-player + [class*=container-] foreignObject[mask="url(#svg-mask-status-online)"] > div,
#vc-spotify-player + [class*=container-] div[class^=dotOnline],
#vc-spotify-player + [class*=container-] i[class^=statusOnline-] {
  fill: hsla(var(--spotify-vencord-text)/1)!important;
  background-color: hsla(var(--spotify-vencord-text)/1) !important;
}
#vc-spotify-player + [class*=container-] rect[fill="rgba(35, 165, 90, 1)"] {
  fill: hsla(var(--spotify-vencord-tetx)/1) !important;
}
#vc-spotify-player + [class*=container-] rect[fill="#f0b232"],
#vc-spotify-player + [class*=container-] foreignObject[mask="url(#svg-mask-status-idle)"] > div {
  fill: hsla(var(--spotify-vencord-text)/1) !important;
  background-color: hsla(var(--spotify-vencord-text)/1) !important;
}
#vc-spotify-player + [class*=container-] rect[fill="rgba(240, 178, 50, 1)"] {
  fill: hsla(var(--spotify-vencord-text)/1) !important;
}
#vc-spotify-player + [class*=container-] {
  background: hsla(var(--spotify-vencord-dark)/1) !important;
}
#vc-spotify-player + [class*=container-] rect[fill="#82858f"],
#vc-spotify-player + [class*=container-] foreignObject[mask="url(#svg-mask-status-offline)"] > div,
#vc-spotify-player + [class*=container-] foreignObject[mask="url(#svg-mask-status-offline)"] > rect,
#vc-spotify-player + [class*=container-] div[class^=dotOffline],
#vc-spotify-player + [class*=container-] i[class^=statusOffline-] {
  fill: hsla(var(--spotify-vencord-text)/1) !important;
  background-color: hsla(var(--spotify-vencord-text)/1) !important;
}
/* VC fix */
body:has(.container-1zzFcN) #vc-spotify-player::before {
    margin-top: -128px;
  }
  .container-1zzFcN {
    margin-bottom: 0px;
    background-color: hsla(var(--spotify-vencord-text)/1);
  }
  body:has(.vc-spotify-pause) .container-1zzFcN {
    background-color: hsla(var(--spotify-vencord-color)/1);
  }
  #app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU > div > div.sidebar-1tnWFu > section > div.wrapper-3Hk9OB > div > div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.connection-3k9QeF > div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > button > div > svg {
    color: hsla(var(--spotify-vencord-color)/1);
  }
  body:has(.vc-spotify-pause) #app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU > div > div.sidebar-1tnWFu > section > div.wrapper-3Hk9OB > div > div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignCenter-14kD11.noWrap-hBpHBz.connection-3k9QeF > div.flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > button > div > svg {
    color: hsla(var(--spotify-vencord-text)/1);
  }
  body:has(.vc-spotify-pause) .lookFilled-1H2Jvj.colorBrand-2M3O3N, .theme-dark .activeButton-2K2Fwx {
    background-color: hsla(var(--spotify-vencord-text)/0.5);
    color: hsla(var(--spotify-vencord-color)/1);
  }
  body:has(.vc-spotify-pause) .lookFilled-1H2Jvj.colorBrand-2M3O3N:hover, .theme-dark .activeButton-2K2Fwx:hover {
    background-color: hsla(var(--spotify-vencord-text)/1);
  }
  .lookFilled-1H2Jvj.colorBrand-2M3O3N, .theme-dark .activeButton-2K2Fwx {
    background-color: hsla(var(--spotify-vencord-color)/0.5);
    color: hsla(var(--spotify-vencord-text)/1);
  }
  .lookFilled-1H2Jvj.colorBrand-2M3O3N:hover, .theme-dark .activeButton-2K2Fwx:hover {
    background-color: hsla(var(--spotify-vencord-color)/1);
  }
  /* end of VC fix */
