.container-YkUktl {
    background-image: linear-gradient( var(--background-primary) ,var(--background-primary), var(--background-secondary)) !important;
}

.container-1zzFcN {
  background-color: var(--background-primary) !important;
  padding-bottom: 10px !important;
  padding: 0.875rem !important;
}
.buttonColor-3bP3fX {
background-color: var(--background-secondary-alt) !important;
}
